<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display">share this link to receive more </h1>

    <input type="text" class="form-control  o" disabled
      value="https://afternoon-hollows-85073.herokuapp.com/submit/<%= currentUser %>">
    <% usersWithSecret.secret.forEach((element)=>{%>
    <p class="secret-text">
      <%= element%>
    </p>
    <%}) %>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>

<%- include('partials/footer') %>